<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kidgeniushq.findatrainger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <!--
  IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
-->
<permission android:protectionLevel="signature"
    android:name="com.kidgeniushq.findatrainger.permission.C2D_MESSAGE" />
<uses-permission android:name="com.kidgeniushq.findatrainger.permission.C2D_MESSAGE" />

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- Tell the system this app requires OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:name="MyApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AppId"
            android:value="\ 12349983352060" />
        <meta-data
            android:name="AppToken"
            android:value="MDAxMDAxAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACD0VuDrzYf3zgT7YeDw%2BsOL%2FGzfzRkc%2BZeh9eGlDruBU%2FZM5ftBx5%2BS8oUWBr9zxG0GtSgIyeW0J5YpuBsRpm5pmd3bgQ0NQXJnyBA2C7mJ3cj%2BGvf2AbIKQQ0zenSU30%3D" />

        <activity
            android:name=".HomePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="eu.janmuller.android.simplecropimage.CropImage" >
        </activity>
        <activity
            android:name=".FindATrainerMainActivity"
            android:label="@string/title_activity_find_atrainer_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kidgeniushq.traineeoptions.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kidgeniushq.traineeoptions.LocalTrainersActivity"
            android:label="@string/title_activity_local_trainers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TrainerActivity"
            android:label="@string/title_activity_trainer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChooseVideoActivity"
            android:label="@string/title_activity_choose_video"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:label="@string/title_activity_update_profile"
            android:parentActivityName="android.support.v7.app.ActionBarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v7.app.ActionBarActivity" />
        </activity>
        <activity
            android:name="com.kidgeniushq.traineeoptions.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.kidgeniushq.traineeoptions.VideoCallActivity"
            android:label="@string/title_activity_video_call" >
        </activity>
        <activity android:name=".oovoo.LiveVideoActivity" >
        </activity>
        <activity android:name=".oovoo.MessengerActivity" >
        </activity>
        <activity
            android:name=".TrainerSignUpActivity"
            android:label="@string/title_activity_trainer_sign_up"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        
        <service android:name="com.parse.PushService" />
<receiver android:name="com.parse.ParseBroadcastReceiver">
  <intent-filter>
    <action android:name="android.intent.action.BOOT_COMPLETED" />
    <action android:name="android.intent.action.USER_PRESENT" />
  </intent-filter>
</receiver>
<receiver android:name="com.parse.GcmBroadcastReceiver"
    android:permission="com.google.android.c2dm.permission.SEND">
  <intent-filter>
    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
    -->
    <category android:name="com.kidgeniushq.findatrainger" />
  </intent-filter>
</receiver>
<receiver android:name="com.kidgeniushq.findatrainger.helpers.MyPushReceiver" android:exported="false">
  <intent-filter>
    <action android:name="com.parse.push.intent.RECEIVE" />
    <action android:name="com.parse.push.intent.DELETE" />
    <action android:name="com.parse.push.intent.OPEN" />
  </intent-filter>
</receiver>
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

</manifest>